.header__logo {
    width: 142px;
    height: 33px;
    /* padding-bottom: 41px; */
}
@media all and (max-width: 425px) {
    .header__logo {
        width: 104px;
        height: 25px;
        padding-left: 27px;
        /* padding-bottom: 32px; */
    }
}