.profile__text {
    width: 294px;
    padding-right: 16px;
}
@media all and (max-width: 1152px) {
    .profile__text {
        width: 189px;
        align-items: center;
        padding-right: 9px;
        padding-left: 46px;

    }
}