.profile__img {
    width: 22px;
    height: 22px;
    padding: 14px 64px 14px 64px;
    margin: 0;
}
@media all and (max-width: 1152px) {
    .profile__img {
        width: 16px;
        height: 16px;
        padding: 17px 132px 17px 132px;
    }
}