.profile__info {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    border: 1px solid orange;
}
@media all and (max-width: 1152px) {
    .profile__info {
        flex-direction: column;
        align-self: center;
    }
}